<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssg.wms.finance.mappers.DashboardMapper">

    <select id="countMonthlyInbound" resultType="int">
        SELECT COUNT(*)
        FROM inbound
        WHERE YEAR(inbound_at) = #{year}
          AND MONTH(inbound_at) = #{month}
    </select>

    <select id="countMonthlyOutbound" resultType="int">
        SELECT COUNT(*)
        FROM outboundRequest
        WHERE YEAR(outboundDate) = #{year}
          AND MONTH(outboundDate) = #{month}
    </select>

</mapper>