<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssg.wms.outbound.mappers.OutboundOrderMapper">

    <!-- 출고요청 목록 매핑 -->
    <resultMap id="ShipmentRequestListMap" type="com.ssg.wms.outbound.domain.dto.OutboundDTO">
        <id property="outboundRequestID" column="outboundRequestID"/>
        <result property="outboundDate" column="outboundDate"/>
        <result property="approvedStatus" column="approvedStatus"/>
        <result property="memberName" column="member_name"/>
        <result property="productName" column="product_name"/>
    </resultMap>




    <!-- 출고지시 상세 매핑 -->
    <resultMap id="ShipmentOrderDetailMap" type="com.ssg.wms.outbound.domain.dto.OutboundOrderDTO">
        <id property="approvedOrderID" column="approvedOrderID"/>
        <result property="dispatchId" column="dispatchID"/>
        <result property="carID" column="carID"/>
        <result property="waybillNumber" column="waybillNumber"/>
        <result property="waybillStatus" column="waybillStatus"/>
    </resultMap>




    <resultMap id="OutboundOrderListMap" type="com.ssg.wms.outbound.domain.dto.OutboundOrderDTO">
        <id property="approvedOrderID" column="approvedOrder_ID"/>
        <result property="outboundRequestID" column="outboundRequest_ID"/>
        <result property="outboundDate" column="outboundDate"/>
        <result property="approvedStatus" column="approvedStatus"/>

        <result property="partnerName" column="partner_name"/>
        <result property="productName" column="product_name"/>

    </resultMap>





    <!-- 출고오더 전체 목록 조회 -->
    <select id="getAllOrders" resultMap="OutboundOrderListMap">
        SELECT
        so.approvedOrder_ID,
        sr.outboundRequest_ID,
        sr.outboundDate,
        sr.approvedStatus,
        Pt.partner_name,
        Pd.product_name
        FROM outboundOrder so
        INNER JOIN outboundRequest sr ON so.outboundRequest_ID = sr.outboundRequest_ID
        INNER JOIN outboundItem si ON sr.outboundRequest_ID = si.outboundRequest_ID
        INNER JOIN Product Pd ON si.Product_ID = Pd.product_id
        INNER JOIN Partner Pt ON Pd.partner_id = Pt.partner_id
        <where>
            <if test="search != null and search != ''">
                (sr.outboundRequest_ID LIKE CONCAT('%', #{search}, '%')
                OR Pt.partner_name LIKE CONCAT('%', #{search}, '%'))
            </if>
        </where>

        GROUP BY
        so.approvedOrder_ID,
        sr.outboundRequest_ID,
        sr.outboundDate,
        sr.approvedStatus,
        Pt.partner_name,
        Pd.product_name
    </select>

    <!-- 필터링된 출고오더 조회 -->
    <select id="getFilteredOrders" resultType="OutboundOrderDTO">
        SELECT
        so.approvedOrder_ID,
        sr.outboundRequest_ID,
        sr.outboundDate,
        sr.approvedStatus,
        Pt.partner_name,
        Pd.product_name,
        M.member_name
        FROM outboundOrder so
        INNER JOIN outboundRequest sr ON so.outboundRequest_ID = sr.outboundRequest_ID
        INNER JOIN outboundItem si ON sr.outboundRequest_ID = si.outboundRequest_ID
        INNER JOIN Product Pd ON si.Product_ID = Pd.product_id
        INNER JOIN Partner Pt ON Pd.partner_id = Pt.partner_id
        INNER JOIN Member M ON sr.member_id = M.member_id
        <where>
            <choose>
                <when test="filterType == 'STATUS'">
                    AND sr.approvedStatus = #{searchValue}
                </when>
                <when test="filterType == 'REQUESTER_NAME'">
                    AND M.member_name LIKE CONCAT('%', #{searchValue}, '%')
                </when>
                <when test="filterType == 'REQUESTER_ID'">
                    AND sr.member_id = #{searchValue}
                </when>
                <otherwise>
                    AND 1=1
                </otherwise>
            </choose>
        </where>
        GROUP BY so.approvedOrder_ID
        ORDER BY so.approvedOrder_ID DESC
    </select>

    <!-- 출고지시 상세 조회 -->
    <select id="getOrderDetailById" resultMap="ShipmentOrderDetailMap">
        SELECT
        so.approvedOrder_ID,
        so.outboundRequest_ID,
        d.dispatchID,
        d.carID,
        d.CarType,
        d.driverName,
        d.assignedDate,
        d.dispatchStatus,
        d.loadedBOX AS 출고박스개수,
        d.maximumBOX AS 차량최대적재량,
        w.waybillNumber,
        w.waybillStatus
        FROM outboundOrder so
        LEFT JOIN dispatch d ON so.approvedOrder_ID = d.approvedOrder_ID
        LEFT JOIN waybill w ON d.dispatchID = w.dispatchID
        WHERE so.approvedOrder_ID = #{approvedOrder_ID}
    </select>

    <!-- 출고오더 상태 수정 -->
    <update id="updateOrderStatus">
        UPDATE outboundOrder
        SET
        orderStatus = #{outboundOrderDTO.orderStatus},
        approvedDate = NOW()
        WHERE approvedOrderID = #{outboundOrderDTO.approvedOrderID}
    </update>

</mapper>
