<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.ssg.wms.member.domain"/>
        <package name="com.ssg.wms.outbound.domain"/>
        <package name="com.ssg.wms.inbound.domain"/>
        <package name="com.ssg.wms.warehouse.domain"/>
        <package name="com.ssg.wms.stock.domain"/>
        <package name="com.ssg.wms.finance.domain"/>
        <package name="com.ssg.wms.admin.dto"/>
    </typeAliases>


</configuration>